# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarised.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. scikit-learn
4. TensorFlow
5. Matplotlib
6. ggplot

| Data Science Tools            |
|-------------------------------|
| Jupyter Notebook              |
| RStudio                       |
| Apache Zeppelin               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers

17

In [5]:
(200 / 60)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
- Python
- R
- SQL
- Julia
- Java
- Scala
- MATLAB

## Author ##
name